<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<div class="container top-header">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Project Title</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Root categories (mens, womens) menu --->
                    <% _.each(topCats, function (rootCat) { %>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= rootCat.name %> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!-- Subcategory1 menu --->
                            <% _.each(rootCat.categories, function (subCat1) { %>
                            <li>
                                <a href="/subCats/<%= subCat1.id.toLowerCase() %>">
                                    <%= subCat1.name %>
                                </a>

                            </li>
                            <% }) %>
                            <!--#END Subcategory1 menu --->

                        </ul>
                    </li>
                    <% }) %>
                    <!--#END Root categories (mens, womens) --->
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<main>
    <div class="container" style="padding: 70px; ">
        <!-- Main category section --->
        <ol class="container breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>

            <% if (typeof subCats != 'undefined') { %>
            <li class="breadcrumb-item active">
                <a href="#"><%= subCats[0].categories.name  %></a>
            </li>
            <% } %>


            <% if (typeof subCatId != 'undefined') { %>
             <li class="breadcrumb-item active">
                 <a href="#"><%= subCatId.split('-').join(' ') %></a>
             </li>
            <% } %>
        </ol>

        <% if (typeof subCats != 'undefined') { %>
        <header class="mainCategory">
            <h1><%= subCats.name %> <%= subCats[0].categories.name %></h1>
            <p><%= subCats[0].categories.page_title %></p>
        </header>

        <h3>Subcategories</h3>
            <% _.each(subCats[0].categories.categories, function (subCat) { %>
            <div class="col-md-12 col-sm-6 subcategory-item" >
                <% if (subCat.image) { %>
                    <img src="/images/<%= subCat.image %>" alt="">
                <% } %>
                <h2 style="display: block"><%= subCat.name %></h2>
                <p><a href="/catProds/<%= subCat.id %>" class="btn btn-default">View products</a></p>
            </div>
        <% }) %>
        <% } %>

        <!-- Products section --->
        <div class="row">
            <% if (typeof products !='undefined' ) { %>
            <% _.each(products, function (product) { %>
            <div class="col-2 col-sm-6 product" >
                <h2 class="product-title"><%= product.name %></h2>
                <div class="row">
                    <div class="col-2">
                        <% if (product.image_groups[0].images) {%>
                        <img class="prodImg" src="/images/<%= product.image_groups[0].images[0].link %>" alt="" >
                        <%}%>
                    </div>
                    <div class="col-2">
                        <div class="prodData">

                            <% JSON.stringify(product) %>

                            <p class="product-description"><%- product.long_description %></p>
                            <p class="product-price">Price: $ <%= product.price %>
                                <a href="/showProduct/<%= subCatId%>/<%=product.id %>" class="moreInfo">More info</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <% }) %>
            <% } %>
        </div>
    </div>
</main>

<footer>
    <div class="container">
        <p>Copyright 2013 OSF Global Services</p>
    </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
    $('.navbar a.dropdown-toggle').on('click', function(e) {
      let $el = $(this);
      let $parent = $(this).offsetParent(".dropdown-menu");
      $(this).parent("li").toggleClass('open');

      if(!$parent.parent().hasClass('nav')) {
        $el.next().css({"top": $el[0].offsetTop, "left": $parent.outerWidth() - 4});
      }

      $('.nav li.open').not($(this).parents("li")).removeClass("open");

      return false;
    });
  });
</script>
</body>
</html>