<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<div class="container top-header">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Project Title</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Root categories (mens, womens) menu --->
                    <% _.each(topCats, function (rootCat) { %>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= rootCat.name %> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!-- Subcategory1 menu --->
                            <% _.each(rootCat.categories, function (subCat1) { %>
                            <li>
                                <a href="/subCats/<%= subCat1.id.toLowerCase() %>">
                                    <%= subCat1.name %>
                                </a>

                            </li>
                            <% }) %>
                            <!--#END Subcategory1 menu --->

                        </ul>
                    </li>
                    <% }) %>
                    <!--#END Root categories (mens, womens) --->
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container" style="padding: 70px 0;">

    <ol class="container breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>

        <% if (typeof subCatId != 'undefined') { %>
        <li class="breadcrumb-item active" id="subCatId">
            <a href="/catProds/<%= subCatId %>"><%= subCatId.split('-').join(' ')  %></a>
        </li>
        <% } %>

        <% if (typeof product[0].name != 'undefined') { %>
        <li class="breadcrumb-item active" id="productId">
            <a href="/showProduct/<%= subCatId %>/<%= product[0].id %>"><%= product[0].name %></a>
        </li>
        <% } %>
    </ol>


    <div class="row">
        <div class="col-md-12 col-sm-6 productLarge" >
            <div class="col-md-6">
                <% if (product[0].image_groups[0].images) {%>
                <img src="/images/<%= product[0].image_groups[0].images[0].link %>" alt="" >
                <%}%>
            </div>

            <div class="col-md-6">
                <h2 class="product-title"><%= product[0].name %></h2>

                <p  class="product-description"><%- product[0].long_description %></p>
                <form id="myForm">
                    <button type="submit" class="buyNow btn btn-default">Buy now</button>
                    <select class="currencyDropdown" name="currency" id="currency">
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                        <option value="BGN">BGN</option>
                    </select>

                    <p class="price-holder">
                        Price: <span id="price"><%= product[0].price %></span>
                    </p>

                </form>

            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <p>Copyright 2013 OSF Global Services</p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {

    $('.navbar a.dropdown-toggle').on('click', function(e) {
      let $el = $(this);
      let $parent = $(this).offsetParent(".dropdown-menu");
      $(this).parent("li").toggleClass('open');

      if(!$parent.parent().hasClass('nav')) {
        $el.next().css({"top": $el[0].offsetTop, "left": $parent.outerWidth() - 4});
      }

      $('.nav li.open').not($(this).parents("li")).removeClass("open");

      return false;
    });


    let $selectCurrency = $('#currency');
    let $previous;
    let $next

    // Store the current value on focus and on change
    $selectCurrency
      .on('focus', function () {
        $previous = $(this).val();
      })
      .on('change', function() {
        $next =  $("#currency :selected").text();

      $.ajax({
          type: 'GET',
          data: { previous: $previous, next : $next },
          contentType: 'application/json',
          url: '/currencies',
          success: function(data) {
            let productPrice = '<%= product[0].price %>';
            let convertedPrice = parseFloat(productPrice) * parseFloat(data);

            $('#price').html(convertedPrice.toFixed(2));
          }
        });
    });
  });

</script>
</body>
</html>

