/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li, article, footer, header,
nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, footer, header, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container, .row {
  max-width: 900px;
  padding: 0;
  margin: 0 auto;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  border: none;
}

a, a:visited {
  text-decoration: none;
  outline: none;
  color: #00B7FF;
}

a:hover {
  text-decoration: none;
  color: #f2cb48;
}

nav ul {
  overflow: visible;
}

.wrapper {
  width: 950px;
  margin: 0 auto;
}

/*--- Header ---*/
.header {
  height: 60px;
  border: 1px solid #000;
}

.navbar-header a {
  font-size: 2em;
  color: #000;
}

/*--- Main navigation ---*/
.navbar-default {
  border: 1px solid #000;
}


.navbar-default .navbar-nav>li>a {
  border: 1px solid;
  border-radius: 10px;
  background-color: #E6E6E6;
  margin-right: 10px;
}

.navbar-default ul li a:hover {
  background-color: #f00;
  color: #fff;
  cursor: pointer;
}


.dropdown-menu {
  background-color: transparent;
  border: none;
}

/*--- Breadcrumb ---*/
.breadcrumb {
  background-color: transparent;
}

.breadcrumb a {
  text-decoration: underline;
}

.nav-link {
  display: inline;
  padding: 0;
}

/*--- Main Category  ---*/
.mainCategory {
  margin-top: 15px;
  font-size: 1.2em;
}

.mainCategory h1 {
  margin-top: 15px;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  margin: 15px 0;
}


/*--- Subcategories ---*/
#subcategories {
  margin-top: 60px;
  border-bottom: 1px solid #000;
}

#subcategories h3 {
  margin-top: 15px;
  font-size: 1.5em;
}

#subcategories .btn-primary {
  color: #000;
  border: 1px solid #000;
  background-color: #E6E6E6;
  margin: 15px 0;
}

.subcategory-item {
  border-bottom: 1px solid #000;
  padding: 30px 0;
}


.dropdown-menu {
  background-color: #E6E6E6;
  position: absolute;
  left: 80px;
}

.navbar-nav>li>.dropdown-menu {
  position: absolute;
  left: -55px;
}

.dropdown-menu a:before {
  content: '';
  position: absolute;
  left: 80px;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 11px solid rgba(40, 40, 40, 0.95);
}


/*--- ---*/
.product {
  padding: 10px;
}

.product h2 {
  margin-bottom: 20px;
}

.prodImg {
  margin-right: 15px;
  width: 200px;
  height: 200px;
  float: left;
}

.product-title {
  font-size: 1.6em;
  margin-bottom: 15px;
}

.product-description {
  margin: 5px 0;
  margin-bottom: 15px;
}

.product-price .moreInfo {
  float: right;
}

.moreInfo {
  color: #000;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #E6E6E6;
}

/*---  Product large ---*/

.productLarge {
  margin-top: 40px;
}

.price-holder {
  float: right;
}

#price {
  float: right;
}

.currencyDropdown {
  float: right;
}

/*--- Footer ---*/
footer {
  border-top: 1px solid #000;
  height: 40px;
}

footer p {
  float: right;
  padding: 15px 0;
}

