/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li, article, footer, header,
nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, footer, header, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

@font-face {
    font-family: 'AvantGardeCE';
    src: url('../fonts/AGW.ttf');
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

body {
    background: #edf8fc url('../images/bg-body.jpg');
    font: 16px 'Calibri', Arial, sans-serif;
    color: #444;
}

.container, .row {
    max-width: 900px;
    padding: 0;
    margin: auto;
}



img {
    display: block;
    max-width: 100%;
    height: auto;
    border: none;
}

a, a:visited {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

nav ul {
    overflow: visible;
}

.wrapper {
    width: 900px;
    margin: auto;
}

[class*="col-"] {
    padding: 0;
}

/*--- Register navigation start ---*/
#register-nav {
    background: rgb(63, 67, 70);
    background: -moz-linear-gradient(top, rgba(63, 67, 70, 1) 0%, rgba(54, 58, 61, 1) 17%, rgba(25, 26, 30, 1) 58%, rgba(3, 3, 3, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(63, 67, 70, 1) 0%, rgba(54, 58, 61, 1) 17%, rgba(25, 26, 30, 1) 58%, rgba(3, 3, 3, 1) 100%);
    background: linear-gradient(to bottom, rgba(63, 67, 70, 1) 0%, rgba(54, 58, 61, 1) 17%, rgba(25, 26, 30, 1) 58%, rgba(3, 3, 3, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f4346', endColorstr='#030303', GradientType=0);
}

.register-menu {
    margin-right: 5px;
}

#register-nav ul li {
    position: relative;
    float: left;
    cursor: pointer;
}

#register-nav ul li a {
    display: block;
    padding: 5px 0;
    font-size: 0.875em;
    color: #fff;
}

#register-nav ul li:first-child a:after {
    content: '|';
    color: #fff;
    padding: 0 5px;
}

/*---/. Register navigation end ---*/

/* Golf large logo */
#golf-large {
    padding-top: 10px;
    margin-left: 20px;
    margin-bottom: -27px;
}

/*--- Main navigation start ---*/
#main-nav {
    padding: 0;
    background: rgb(90, 90, 90);
    background: -moz-linear-gradient(top, rgba(90, 90, 90, 1) 0%, rgba(89, 89, 89, 1) 7%, rgba(81, 81, 81, 1) 23%, rgba(46, 46, 46, 1) 80%, rgba(46, 46, 46, 1) 83%, rgba(41, 41, 41, 1) 87%, rgba(41, 41, 41, 1) 93%, rgba(38, 38, 38, 1) 97%, rgba(38, 38, 38, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(90, 90, 90, 1) 0%, rgba(89, 89, 89, 1) 7%, rgba(81, 81, 81, 1) 23%, rgba(46, 46, 46, 1) 80%, rgba(46, 46, 46, 1) 83%, rgba(41, 41, 41, 1) 87%, rgba(41, 41, 41, 1) 93%, rgba(38, 38, 38, 1) 97%, rgba(38, 38, 38, 1) 100%);
    background: linear-gradient(to bottom, rgba(90, 90, 90, 1) 0%, rgba(89, 89, 89, 1) 7%, rgba(81, 81, 81, 1) 23%, rgba(46, 46, 46, 1) 80%, rgba(46, 46, 46, 1) 83%, rgba(41, 41, 41, 1) 87%, rgba(41, 41, 41, 1) 93%, rgba(38, 38, 38, 1) 97%, rgba(38, 38, 38, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a5a5a', endColorstr='#262626', GradientType=0);
    border: 1px solid #fff;
}

#main-nav li a {
    color: #fff;
    font-size: 0.9em;
    padding: 7px 17px;
}

#main-nav a:hover {
    color: #f6ce49;
}


/*---/. Main navigation end ---*/

/*--- Main content start ---*/
.main {
    background-color: #fafafa;
    padding: 0 20px 440px;
}

/*--- Main content end ---*/

/*--- Package content start ---*/
#packages-content header {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 75px;
    border-radius: 5px 5px 0 0;
}


.gray-gradient {
    background: rgb(162,162,162);
    background: -moz-linear-gradient(top, rgba(162,162,162,1) 0%, rgba(147,147,147,1) 31%, rgba(115,115,115,1) 78%, rgba(105,105,105,1) 100%);
    background: -webkit-linear-gradient(top, rgba(162,162,162,1) 0%,rgba(147,147,147,1) 31%,rgba(115,115,115,1) 78%,rgba(105,105,105,1) 100%);
    background: linear-gradient(to bottom, rgba(162,162,162,1) 0%,rgba(147,147,147,1) 31%,rgba(115,115,115,1) 78%,rgba(105,105,105,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2a2a2', endColorstr='#696969',GradientType=0 );
    padding: 10px;
}

.gray-gradient h2 {
    width: 100%;
    color: #e0e0e0;
    margin: auto;
}

.blue-gradient {
    display: flex;
    justify-content: center;
    background: rgb(34,83,139);
    background: -moz-linear-gradient(top, rgba(34,83,139,1) 0%, rgba(39,89,145,1) 23%, rgba(53,106,163,1) 67%, rgba(60,115,172,1) 99%, rgba(74,118,163,1) 100%);
    background: -webkit-linear-gradient(top, rgba(34,83,139,1) 0%,rgba(39,89,145,1) 23%,rgba(53,106,163,1) 67%,rgba(60,115,172,1) 99%,rgba(74,118,163,1) 100%);
    background: linear-gradient(to bottom, rgba(34,83,139,1) 0%,rgba(39,89,145,1) 23%,rgba(53,106,163,1) 67%,rgba(60,115,172,1) 99%,rgba(74,118,163,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22538b', endColorstr='#4a76a3',GradientType=0 );
}

#packages-content .package-price {
    position: absolute;
    top: 28px;
    height: 41px;
}

.package-price span {
    display: none;
}

#packages-content .package-price {
    background: no-repeat center center;
}

#packages-content section:nth-of-type(2) .package-price {
    width: 119px;
    background-image: url(../images/membership-images/499.png);
}

#packages-content section:nth-of-type(3) .package-price {
    width: 145px;
    background-image: url(../images/membership-images/999.png);
}

#packages-content section:nth-of-type(4) .package-price {
    width: 145px;
    background-image: url(../images/membership-images/1999.png);
}

.package-heading {
    padding: 5px 0;
}

#packages-content .package-heading {
    font: 1.375em Arial;
    color: #fff;
    font-weight: bold;
}

.dark-gray {
    background: #CBCBCB url("../images/membership-images/gray-shadow.png") no-repeat right;
    font: 13px Arial;
    color: #464646;
}

.light-gray {
    background: #E0E0E0;
    font: 13px Arial;
    color: #797979;
}

.dark-gray li:not(:last-child) {
    border-bottom: 1px solid #A2A2A2;
}

.features {
    text-align: center;
}

.features li:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.arrow-btn {
    background: url("../images/membership-images/arrow-shadow.png") no-repeat left;
}

.light-gray li:nth-child(n+3) {
    padding: 10.5px;
}

.light-gray li:not(:last-child) {
    border-bottom: 1px solid #fff;
}

.white {
    background-color: #fff;
    font: 13px Arial;
    color: #797979;
}

#text-content h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    line-height: 20px;
    color: #000;
    padding-top: 43px;
}

#text-content p {
    padding-top: 20px;
    padding-left: 4px;
    font-size: 0.875em;
    height: 70px;
    overflow: hidden;
}

#packages-content {
    margin-top: 80px;
    text-align: center;
}


#packages-content h2 {
    font-size: 1.34em;
    font-weight: bold;
}

.features li:not(:last-child) {
    display: flex;
    justify-content: center;
    padding: 14px 0;
    height: 44px;
}

.feat {
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url(../images/membership-images/yes-no-sprite.png) no-repeat;
}



.yes {
     background-position: -21px;
 }

.arrow {
    display: inline-block;
    width: 52px;
    height: 37px;
    background: url("../images/membership-images/arrow.png") no-repeat;
}

.sign-up {
    margin: 12px 0;
    display: inline-block;
    width: 157px;
    font: 1.06em Arial;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    background: url("../images/membership-images/sign-up-gray.png") no-repeat center center;
}

#packages-content section:nth-child(1) ul li:nth-child(8) {
    border-radius: 5px 5px 0 0;
}

/*--- Section hover ---*/
#packages-content section:not(:first-child):hover  ul {
    position: relative;
    z-index: 1;
    -moz-box-shadow: 0 5px 15px #BFBFBF;
    -webkit-box-shadow: 0 5px 15px #BFBFBF;
    box-shadow: 0 5px 15px #BFBFBF;
}

#packages-content section:not(:first-child):hover header {
    height: 125px;
    padding: 5px;
    margin: -25px 0;
    background: #fff url('../images/membership-images/green-shape.png') no-repeat;
}

#packages-content section:not(:first-child):hover .package-price {
    top: 15px;
}

#packages-content section:not(:first-child):hover .light-gray {
    background: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#packages-content section:not(:first-child):hover ul li:not(:last-child) {
    border-bottom: 1px solid #DADADA;
}

#packages-content section:not(:first-child):hover ul li:last-child {
    height: 103px;
}

#packages-content section:not(:first-child):hover .sign-up {
    background: url("../images/membership-images/sign-up-red.png") no-repeat center;
}
/*---/. Package content end ---*/


/* --- Footer start ---*/
.footer {
    background: rgb(252, 255, 255);
    background: -moz-linear-gradient(top, rgba(252, 255, 255, 1) 0%, rgba(95, 99, 100, 1) 1%, rgba(88, 92, 95, 1) 2%, rgba(91, 95, 98, 1) 3%, rgba(87, 90, 95, 1) 5%, rgba(88, 92, 95, 1) 7%, rgba(79, 83, 86, 1) 22%, rgba(81, 82, 86, 1) 24%, rgba(74, 78, 81, 1) 29%, rgba(67, 68, 70, 1) 45%, rgba(47, 48, 50, 1) 69%, rgba(31, 31, 31, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(252, 255, 255, 1) 0%, rgba(95, 99, 100, 1) 1%, rgba(88, 92, 95, 1) 2%, rgba(91, 95, 98, 1) 3%, rgba(87, 90, 95, 1) 5%, rgba(88, 92, 95, 1) 7%, rgba(79, 83, 86, 1) 22%, rgba(81, 82, 86, 1) 24%, rgba(74, 78, 81, 1) 29%, rgba(67, 68, 70, 1) 45%, rgba(47, 48, 50, 1) 69%, rgba(31, 31, 31, 1) 100%);
    background: linear-gradient(to bottom, rgba(252, 255, 255, 1) 0%, rgba(95, 99, 100, 1) 1%, rgba(88, 92, 95, 1) 2%, rgba(91, 95, 98, 1) 3%, rgba(87, 90, 95, 1) 5%, rgba(88, 92, 95, 1) 7%, rgba(79, 83, 86, 1) 22%, rgba(81, 82, 86, 1) 24%, rgba(74, 78, 81, 1) 29%, rgba(67, 68, 70, 1) 45%, rgba(47, 48, 50, 1) 69%, rgba(31, 31, 31, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcffff', endColorstr='#1f1f1f', GradientType=0);
    color: #fff;
}

.footer .container {
    padding: 15px 0;
}

.golf-manager {
    line-height: 90px;
}

.footer section h4 {
    font-size: 1.125em;
    color: #faed75;
    position: relative;
    padding-bottom: 5px;
}

.footer section h4:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid transparent;
    border-image: url('../images/footer-heading-gradient.png') 1;
    opacity: 0.26;
}

.footer section p,
.footer section a {
    font-size: 0.875em;
    line-height: 1.44em;
    color: #fff;
}

.footer section a {
    display: block;
    padding-top: 5px;
    padding-left: 5px;
}

.footer section:first-child p {
    padding-left: 7px;
    padding-top: 2px;
}

.footer section:first-child img {
    float: left;
    padding: 17px 10px;
}

.footer section:first-child span {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.19em;
}

/* --- Footer end ---*/

/*--- Hide Submenu ---*/
.dropdown-content {
    display: none;
    width: 132px;
    background-color: rgba(40, 40, 40, 0.95);
    border: 1px solid #AAA8A8;
    z-index: 1;
}

/*--- Show Dropdown menu on hover---*/
.dropdownBtn:hover .dropdown-content {
    display: block;
    position: absolute;
    margin-top: 10px;
}


.dropdown-content li:first-child a:before {
    content: '';
    position: absolute;
    left: 26px;
    top: -11px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 11px solid rgba(40, 40, 40, 0.95);
}

/*--- Show Dropdown menu on hover ---*/
.dropdownBtn:hover .dropdown-content {
    display: block;
    position: absolute;
    margin-top: 10px;
}

/*--- Show features only on mobile ---*/
.showOnMobile {
    display: none;
}

/*--- Media Queries ---*/
@media screen and (max-width: 866px) {
    #packages-content .package-heading  {
        font-size: 1em;
    }

    .package-price {
        background-size: 80% auto;
    }

    #packages-content section:not(:first-child):hover header {
        height: 107px;
        margin: -16px 0;
        background-size: contain;
    }
}

@media screen and (max-width: 800px) {
    #packages-content section:not(:first-child):hover header {
        height: 96px;
        margin: -10px 0;
    }

    .package-price {
        background-size: 70% auto;
    }

    .sign-up {
        margin: 7px 0;
    }
}

@media screen and (max-width: 768px) {
    .package-price {
        background-size: 65% auto;
    }

    .sign-up {
        background-size: 100%;
    }

    #packages-content section:not(:first-child):hover .package-price {
        top: 15px;
        background-size: 80%;
    }


    #packages-content section:not(:first-child):hover .sign-up {
        background-size: 100%;
    }

    .golf-manager {
        line-height: 50px;
    }

    .footer section {
        text-align: center;
    }

    .footer section img {
        margin: 0 auto;
    }

    .footer section:first-child img {
        float: none;
        padding-top: 10px;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 671px) {
    #packages-content header {
        height: 65px;
    }

    #packages-content h2 {
        font-size: 1.1em;
    }

    #packages-content .package-heading  {
        font-size: 0.8em;
    }

    .package-price {
        background-size: 65% auto;
    }

    #packages-content section:not(:first-child):hover header {
        height: 85px;
    }

    #packages-content .package-price {
        top: 20px;
    }

    #packages-content section:not(:first-child):hover .package-price {
        top: 8px;
        background-size: 60%;
    }


    .arrow {
        padding: 23px 0;
        background-size: 85%;
        background-position: center;
    }

    .arrow-btn {
        height: 42px;
    }

    .sign-up {
        margin: 2px 0;
        padding: 14px 0;
    }

}

@media screen and (max-width: 631px) {
    .dark-gray {
        font-size: 0.75em;
    }

    #packages-content section:not(:first-child) .package-price {
        background-size: 80%;
    }

}

@media screen and (max-width: 601px) {
    #text-section {
        font-size: 0.75em;
    }

    .package-price {
        background-size: 50% auto;
    }


    #packages-content section:not(:first-child):hover .package-price {
        top: 8px;
        background-size: 50%;
    }

    #packages-content section:not(:first-child):hover ul li:last-child {
        height: 95px;
    }

    .sign-up {
        font-size: 0.9em;
    }

}

@media screen and (max-width: 576px) {
    #packages-content section:not(:first-child) {
        margin: 10px 0;
    }

    #packages-content section:not(:first-child):hover header {
        background-position: center;
        background-size: cover;
    }

    #packages-content .package-heading {
        font-size: 1em;
    }

    #packages-content section:not(:first-child) header {
        height: 65px;
    }

    #packages-content header {
        border-radius: 0;
    }

    #packages-content section:not(:first-child):hover .package-price {
        top: 15px;
        background-size: 70%;
    }

    .showOnMobile {
        display: inline;
    }
}

