/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li, article, footer, header,
nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, footer, header, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

@font-face {
    font-family: 'AvantGardeCE';
    src: url('../fonts/AGW.ttf');
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

body {
    background: #edf8fc url('../images/bg-body.jpg') no-repeat;
    font: 16px 'Calibri', Arial, sans-serif;
    color: #444;
}

.container, .row {
    max-width: 900px;
    padding: 0;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

a, a:visited {
    text-decoration: none;
    outline: none;
    color: #444;
}

a:hover {
    text-decoration: none;
    color: #f2cb48;
}

nav ul {
    overflow: visible;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
}

/*--- Register navigation start ---*/
#register-nav {
    background: rgb(63, 67, 70);
    background: -moz-linear-gradient(top, rgba(63, 67, 70, 1) 0%, rgba(54, 58, 61, 1) 17%, rgba(25, 26, 30, 1) 58%, rgba(3, 3, 3, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(63, 67, 70, 1) 0%, rgba(54, 58, 61, 1) 17%, rgba(25, 26, 30, 1) 58%, rgba(3, 3, 3, 1) 100%);
    background: linear-gradient(to bottom, rgba(63, 67, 70, 1) 0%, rgba(54, 58, 61, 1) 17%, rgba(25, 26, 30, 1) 58%, rgba(3, 3, 3, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f4346', endColorstr='#030303', GradientType=0);
}

.register-menu {
    margin-right: 5px;
}

#register-nav ul li {
    position: relative;
    float: left;
    cursor: pointer;
}

#register-nav ul li a {
    display: block;
    padding: 5px 0;
    font-size: 14px;
    color: #fff;
}

#register-nav ul li:first-child a:after {
    content: '|';
    color: #fff;
    padding: 0 5px;
}

/*---/. Register navigation end ---*/

/* Golf large logo */
#golf-large {
    padding-top: 10px;
    margin-left: 20px;
    margin-bottom: -27px;
}

/*--- Main navigation start ---*/
#main-nav {
    padding: 0;
    background: rgb(90, 90, 90);
    background: -moz-linear-gradient(top, rgba(90, 90, 90, 1) 0%, rgba(89, 89, 89, 1) 7%, rgba(81, 81, 81, 1) 23%, rgba(46, 46, 46, 1) 80%, rgba(46, 46, 46, 1) 83%, rgba(41, 41, 41, 1) 87%, rgba(41, 41, 41, 1) 93%, rgba(38, 38, 38, 1) 97%, rgba(38, 38, 38, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(90, 90, 90, 1) 0%, rgba(89, 89, 89, 1) 7%, rgba(81, 81, 81, 1) 23%, rgba(46, 46, 46, 1) 80%, rgba(46, 46, 46, 1) 83%, rgba(41, 41, 41, 1) 87%, rgba(41, 41, 41, 1) 93%, rgba(38, 38, 38, 1) 97%, rgba(38, 38, 38, 1) 100%);
    background: linear-gradient(to bottom, rgba(90, 90, 90, 1) 0%, rgba(89, 89, 89, 1) 7%, rgba(81, 81, 81, 1) 23%, rgba(46, 46, 46, 1) 80%, rgba(46, 46, 46, 1) 83%, rgba(41, 41, 41, 1) 87%, rgba(41, 41, 41, 1) 93%, rgba(38, 38, 38, 1) 97%, rgba(38, 38, 38, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a5a5a', endColorstr='#262626', GradientType=0);
    border: 1px solid #fff;
}

#main-nav li a {
    color: #fff;
    font-size: 0.9em;
    padding: 7px 17px;
}

#main-nav a:hover {
    color: #f6ce49;
}

/*---/. Main navigation end ---*/

/*--- Slider text section ----*/
#text-section h1 {
    font: 2.6em 'AvantGardeCE', 'Myriad Pro', sans-serif;
    line-height: 1.19em;
    color: #888;
    margin-top: 32px;
    margin-left: 3px;
}

#text-section p {
    font: 0.87em 'Calibri';
    color: #444;
    margin-left: 2%;
    padding-top: 3%;
    line-height: 1.8em;
}

.btn-blue {
    display: inline-block;
    border-top: 1px solid #efefef;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-radius: 6px;
    line-height: 1.5em;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    padding: 8px 40px;
    background-color: #4096EE;
    box-shadow: 0 5px 0 #1575D8;
    float: right;
    margin-top: 32px;
}

/*--- Carousel start ---*/
.slider .row {
    background: #eee url("../images/bg-texture-slider.jpg");
    height: 370px;
}

.slider .row .col2 {
    position: relative;
}

#carousel {
    position: relative;
    top: 63px;
    left: -21px;
}

.carousel-inner {
    overflow: visible;
    margin-bottom: 15px;
}

.carousel-indicators {
    top: 255px;
    left: 40px;
}

.carousel-indicators li {
    border-radius: 10px;
    margin: 0 5px;
    height: 15px;
    max-width: 15px;
    background-image: url("../images/circle-indicator.png");
}

.carousel-indicators li:hover {
    cursor: pointer;
    background-image: url("../images/circle-indicator-hover.png");
}

#carousel > .carousel-inner > .item > img,
#carousel > .carousel-inner > .item > a > img {
    width: 80%;
    margin: 0 auto;
}

#slide_0 {
    position: absolute;
    top: 0;
    left: 45px;
    z-index: 3;
}

#slide_1 {
    position: absolute;
    top: -10px;
    left: 55px;
    z-index: 2;
}

#slide_2 {
    position: absolute;
    top: -20px;
    left: 65px;
    z-index: 1;
}

.col1 {
    background: url('../images/slider-separator.png') no-repeat right;
    padding-bottom: 32px;
}

#slider {
    display: none;
}

/*--/. Carousel end ---*/

/*--- Social buttons start ---*/
.col2 {
    text-align: center;
}

#share {
    position: fixed;
    right: 10%;
    top: 40%;
}

#share img {
    display: block;
    margin-bottom: 5px;
}

/*---/ Social buttons end ---*/

/*--- Main content start ---*/
.main {
    background-color: #fafafa;
}

/*--- Main content end ---*/

/*--- Register blocks start ---*/
#register {
    padding-right: 20px;
    padding-left: 20px;
}

#register section {
    font: 14px 'Calibri';
    font-weight: bold;
    height: 84px;
    margin-top: 40px;
}

#register .col {
    position: relative;
    padding: 0 5px 0 0;
}

#register section:not(:first-child) {
    margin-left: 10px;
}

#individual {
    background: url("../images/individual-texture.png") no-repeat center center;
    background-size: cover;
}

#golf {
    background: url("../images/golf-texture.png") no-repeat center center;
    background-size: cover;
}

#tree-time {
    background: url("../images/tree-time-texture.png") no-repeat center center;
    background-size: cover;
}

#register h3 {
    font-weight: bold;
    font-size: 1.31em;
    color: #fff;
}

#register p {
    font-size: 0.87em;
}

#register .imgs img {
    position: absolute;
    top: 28px;
    left: 5px;
}

#register .imgs img:first-child {
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 1;
}

#register #individual {
    color: #638400;
}

#register #individual h3 {
    text-shadow: -1px 0 #9AC80D, 0 1px #9AC80D, 1px 0 #9AC80D, 0 -1px #9AC80D;
}

#register #golf {
    color: #05478c;
}

#register #golf h3 {
    text-shadow: -1px 0 #106BCF, 0 1px #106BCF, 1px 0 #106BCF, 0 -1px #106BCF;
}

#register #tree-time {
    color: #b04100;
}

#register #tree-time h3 {
    text-shadow: -1px 0 #D85203, 0 1px #D85203, 1px 0 #D85203, 0 -1px #D85203;
}

.imgs {
    width: 110px;
    margin-left: -19px;
}

.text {
    float: right;
    width: 179px;
    padding: 5px 5px 5px 25px;
}

/*---/ Register blocks end ---*/

/*--- Tournament programme start ---*/
#tournaments {
    padding: 16px 20px;
}

#tournaments .row:last-child {
    margin-top: 58px;
}

#tournaments > header {
    height: 96px;
}

#tournaments > header > h3 {
    font-size: 1.12em;
    color: #fff;
    left: -25px;
    top: -2px;
    border-radius: 8px;
    margin-top: 38px;
    padding: 12px 26px;
    display: inline-block;
    background: url(../images/tournament-bg-1.png) no-repeat center center;
    position: relative;
}

#tournaments .circle-l {
    background-image: url("../images/tournament-bg-2.png");
    width: 9px;
    height: 24px;
    position: relative;
    left: -25px;
    top: -20px;
    z-index: -1;
}

#tournaments section h3 {
    font-size: 1.25em;
    color: #555;
    padding-bottom: 10px;
}

#tournaments section p {
    line-height: 1.38em;
    text-align: justify;
}

#tournaments section img {
    float: left;
    padding-right: 12px;
}

.read-more {
    font-size: 14px;
    color: #4096ee;
}

.read-more:after {
    content: url("../images/read-more-link.png");
    padding-left: 5px;
}

/*--- Tournament programme end ---*/

/*--- Blocks start ---*/
#blocks {
    border-top: 1px solid #E2E1E1;
    margin-top: 36px;
    padding-top: 30px;
}

#blocks .col {
    padding-top: 15px;
    padding-bottom: 15px;
}

#blocks .col:not(:last-child) {
    margin-bottom: 15px;
    border-right: 1px solid #d7d7d7;
}

#blocks .col img {
    float: left;
    padding-right: 15px;
    padding-bottom: 4px;
}

#blocks .col h4 {
    font-size: 1.125em;
    color: #343434;
}

#blocks .col p {
    font-size: 0.75em;
    color: #343434;
}

#blocks .col h4:hover {
    color: #4096EE;
}

/*--- Blocks end ---*/

/* --- Footer start ---*/
.footer {
    background: rgb(252, 255, 255);
    background: -moz-linear-gradient(top, rgba(252, 255, 255, 1) 0%, rgba(95, 99, 100, 1) 1%, rgba(88, 92, 95, 1) 2%, rgba(91, 95, 98, 1) 3%, rgba(87, 90, 95, 1) 5%, rgba(88, 92, 95, 1) 7%, rgba(79, 83, 86, 1) 22%, rgba(81, 82, 86, 1) 24%, rgba(74, 78, 81, 1) 29%, rgba(67, 68, 70, 1) 45%, rgba(47, 48, 50, 1) 69%, rgba(31, 31, 31, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(252, 255, 255, 1) 0%, rgba(95, 99, 100, 1) 1%, rgba(88, 92, 95, 1) 2%, rgba(91, 95, 98, 1) 3%, rgba(87, 90, 95, 1) 5%, rgba(88, 92, 95, 1) 7%, rgba(79, 83, 86, 1) 22%, rgba(81, 82, 86, 1) 24%, rgba(74, 78, 81, 1) 29%, rgba(67, 68, 70, 1) 45%, rgba(47, 48, 50, 1) 69%, rgba(31, 31, 31, 1) 100%);
    background: linear-gradient(to bottom, rgba(252, 255, 255, 1) 0%, rgba(95, 99, 100, 1) 1%, rgba(88, 92, 95, 1) 2%, rgba(91, 95, 98, 1) 3%, rgba(87, 90, 95, 1) 5%, rgba(88, 92, 95, 1) 7%, rgba(79, 83, 86, 1) 22%, rgba(81, 82, 86, 1) 24%, rgba(74, 78, 81, 1) 29%, rgba(67, 68, 70, 1) 45%, rgba(47, 48, 50, 1) 69%, rgba(31, 31, 31, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcffff', endColorstr='#1f1f1f', GradientType=0);
    color: #fff
}

.footer .container {
    padding: 15px 0;
}

.golf-manager {
    line-height: 90px;
}

.footer section h4 {
    font-size: 18px;
    color: #faed75;
    position: relative;
    padding-bottom: 5px;
}

.footer section h4:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid transparent;
    border-image: url('../images/footer-heading-gradient.png') 1;
    opacity: 0.26;
}

.footer section p,
.footer section a {
    font-size: 0.875em;
    line-height: 1.44em;
    color: #fff;
}

.footer section a {
    display: block;
    padding-top: 5px;
    padding-left: 5px;
}

.footer section:first-child p {
    padding-left: 7px;
    padding-top: 2px;
}

.footer section:first-child img {
    float: left;
    padding: 17px 10px;
}

.footer section:first-child span {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.19em;
}

/* --- Footer end ---*/

/*--- Hide Submenu ---*/
.dropdown-content {
    display: none;
    width: 132px;
    background-color: rgba(40, 40, 40, 0.95);
    border: 1px solid #AAA8A8;
    z-index: 1;
}

.dropdown-content li:first-child a:before {
    content: '';
    position: absolute;
    left: 26px;
    top: -11px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 11px solid rgba(40, 40, 40, 0.95);
}

/*--- Show Dropdown menu on hover---*/
.dropdownBtn:hover .dropdown-content {
    display: block;
    position: absolute;
    margin-top: 10px;
}

/*--- Media Queries ---*/
@media screen and (max-width: 960px) {
    .btn-blue {
        margin-top: 0;
        font-size: 1.2em;
    }
}

@media screen and (max-width: 768px) {
    #text-section h1 {
        font-size: 1.8em;
    }

    #carousel img {
        width: 70%;
    }

    .btn-blue {
        padding: 8px 30px;
        font-size: 1.5em;
        margin-top: 32px;
    }

    .footer section {
        text-align: center;
    }

    .footer section img {
        margin: 0 auto;
    }

    .footer section:first-child img {
        float: none;
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .btn-blue {
        font-size: 1em;
        margin-top: 0;
    }
}

@media screen and (max-width: 576px) {
    #text-section h1 {
        font-size: 1.2em;
    }

    #text-section p {
        font-size: 1em;
        line-height: 1.5em;
    }

    .btn-blue {
        font-size: 1.2em;
        line-height: 0.8em;
    }

    #register .col .imgs {
        display: none;
    }

    #register section {
        height: 70px;
        margin-top: 10px;
    }

    #tournaments > header > h3 {
        margin-top: 5px;
        padding: 5px 10px;
        font-size: 1em;
    }

    #tournaments > header {
        height: 50px;
    }

    #tournaments section {
        margin-bottom: 15px;
    }

    #tournaments .row:last-child {
        margin-top: 15px;
    }

    #blocks {
        margin-top: 0;
    }

    #tournaments section img {
        padding-right: 12px;
        width: 100%;
        margin-bottom: 5px;
    }
}